#package-item {
  display: flex;
  align-items: center;
  .info {
    margin-bottom: 0;
    span {
      margin-right: 15px;
    }
  }

  .package-detail {
    display: inline-block;
  }

  .item-img {
    margin-right: 10px;
  }
}

