#platform {
  .platform-container {
    padding: 30px;
    border: 1px solid #ddd;
    margin-top:10px;
  }

  .title {
    display: flex;
    font-size: 30px;
    margin-bottom: 30px;
    justify-content: space-between;
    align-items: center;
    .icon-forward{
      font-size:25px;
      cursor: pointer;
    }
  }

  .ant-btn{
    margin-right:15px;
    margin-bottom: 15px;
  }

  footer{
    margin:20px;
    text-align: right;
  }
}