@import "~spinkit/scss/spinners/7-three-bounce";
.pipeline {

  &-header {
    padding: 16px 32px;
    background-color: #fff;
    box-shadow:0 2px 4px rgba(0,21,41,0.12);
    //padding: 42px 24px 10px;
    h2 {
      margin-bottom: 0;
    }
  }

  &-box {
    border: 1px solid #ebedf0;
    border-radius: 2px;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0 0 16px;
    -webkit-transition: all .2s;
    transition: all .2s;
    &-wrapper {
      width: 100%;
      padding: 24px;
      background-color: #f0f2f5;
    }
    .ant-form:not(.ant-form-inline):not(.ant-form-vertical) {
      max-width: 800px;
    }
  }


  &-main {
    border-bottom: 1px solid #ebedf0;
    //padding: 42px 24px 50px;
    color: rgba(0, 0, 0, 0.65);
  }


  //detail
  &-detail{
    background-color: #fff;

    &-header {
      margin-bottom: 16px;
      padding: 24px;
    }
    &-info{
      padding: 24px;
    }
    &-user {
      text-align: right;
    }
    &-main {
      display: block;
      flex: 1
    }

    &-controButton{
      text-align: right;
    }

    &-timemeta {
      margin-bottom: 36px;
      span {
        font-size: 14px;
        line-height: 22px;
        color: rgba(0, 0, 0, 0.65);

        &:not(:last-of-type):after {
          content: '';
          position: absolute;
          top: 25%;
          right: 0;
          width: 1px;
          height: 50%;
          background-color: #ddd;
        }

        i {
          color: rgba(0, 0, 0, 0.85);

          font-style: normal;
        }
      }
    }
    &-content {
      padding-bottom: 26px;
    }

  }

  //animate
  .step-status {
    &-default{
      background-color: #F8F8F8;
    }
    &-running {
      transition: all .4s cubic-bezier(.08, .82, .17, 1) 0s;
    }
    &-running:before {
      content: "";
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #fff;
      //border-radius: 10px;
      -webkit-animation: ant-progress-active 2.4s cubic-bezier(.23, 1, .32, 1) infinite;
      animation: ant-progress-active 2.4s cubic-bezier(.23, 1, .32, 1) infinite
    }
    @-webkit-keyframes ant-progress-active {
      0% {
        opacity: 0.1;
        width: 0;
      }
      20% {
        opacity: 0.5;
        width: 0;
      }
      100% {
        opacity: 0;
        width: 100%;
      }
    }
    @keyframes ant-progress-active {
      0% {
        opacity: 0.1;
        width: 0;
      }
      20% {
        opacity: 0.5;
        width: 0;
      }
      100% {
        opacity: 0;
        width: 100%;
      }
    }
  }
  .sk-three-bounce {
    display: inline-block;
    margin: 3px auto;
    width: 24px;
    text-align: center;
    .sk-child {
      width: 4px;
      height: 4px;
      background-color: #1890ff;
      border-radius: 100%;
      display: inline-block;
      -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
      animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
    }
    .sk-bounce1 {
      -webkit-animation-delay: -0.32s;
      animation-delay: -0.32s;
    }
    .sk-bounce2 {
      -webkit-animation-delay: -0.16s;
      animation-delay: -0.16s; }
  }

  @-webkit-keyframes sk-three-bounce {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0); }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1); } }

  @keyframes sk-three-bounce {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0); }
    40% {
      -webkit-transform: scale(1);
      transform: scale(1); } }
}


.editable-cell {
  position: relative;
}

.editable-cell-value-wrap {
  padding: 5px 24px;
  cursor: pointer;
}

.editable-row:hover .editable-cell-value-wrap {
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  padding: 5px 24px;
}
