.divider{
  margin: 0px 0px 16px 0px;
}
.base_info{
  margin-bottom: 4px;
  margin-top: 16px;
  font-weight: bold;
}
.info-menu div{
  margin-bottom: 8px;
}
.btn-group{
  text-align: right;
}
.select-container{
  padding: 0px 8px 0px 32px;
  background-color: #fff;
  button{
    float: right;
    margin-right: 24px;
  }
}
.dashboard-slider .ant-slider-mark-text:last-child{
  width: 60px;
}
.select-container:after{
  display:block;
  clear:both;
  content:"";
  visibility: hidden;
  height:0
}
.popover-btn-group{
  text-align: center;
  button{
    margin:24px 8px 0px 8px;
  }
}
.basic-info-container{
  padding: 20px 32px 10px 32px;
  border-bottom: 1px #E8E8E8 solid;
  background-color: #fff;
  p{
    margin-bottom: 12px;
    line-height: 22px;
  }
  line-height: 22px;
  .item-name{
    color: #262626;
    padding-right: 8px;
  }
}
.report-data{
  padding: 24px 32px;
  text-align: center;
  background-color: #fff;
  .data_title{
    color: #8c8c8c;
  }
  .data_num_black{
    color: #262626;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 0px;
  }
  .data_num_red{
    font-size: 30px;
    color: #f5222d;
    font-weight: bold;
    margin-bottom: 0px;
  }
}
.chart-container{
  background-color: #f0f2f5;
  padding: 24px 24px 24px 24px;
}
