.divider{
  margin: 0px 0px 16px 0px;
}
.base_info{
  margin-bottom: 4px;
  margin-top: 16px;
  font-weight: bold;
}
.data_title{
  font-size: 18px;
  font-weight: bold;
}
.data_num{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.info-menu div{
  margin-bottom: 8px;
}
.btn-group{
  text-align: right;
}