.performance {
  .performance-index-main{
    margin: 24px;
    .title-icon{
      margin-right: 16px;
    }
  }

  .performance-list-main{
    background: #fff;
  }
  .performance-add-main{
    background: #fff;
    padding: 50px 170px;
    .steps-content{
      margin-top: 50px;
    }
  }
}
