#edit {
  line-height: 40px;
  .edit-container {
    display: inline-block;
    .edit-input {
      outline: none;
      font-size: 16px;
      width: 400px;
    }
    .icon-edit {
      font-size: 18px;
    }
  }

}