#performance-config {
  li {
    list-style: none;
  }
  .anticon, .icon-select {
    font-size: 26px;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
  }

  .config-item {
    padding: 15px 20px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc
  }
  .ant-row-flex {
    margin: 10px 0;
  }

  footer {
    text-align: center;
    .btn-renmae {
      margin-right: 10px;
    }
  }
  .tool-container {
    display: flex;
    align-items: center;
  }

  .anticon.icon-add {
    &:hover {
      color: #1890ff;
    }
  }
  .anticon.icon-delete {
    font-size: 20px;
    &:hover {
      color: #f5222d;
    }
  }
  // 重写tab栏目样式
  .ant-radio-button-wrapper {
    margin-bottom: -1px;
  }

  .ant-radio-button-wrapper-checked {
    border-color: #d9d9d9;
    border-bottom: 1px solid transparent;
  }
  .ant-radio-button-wrapper-checked::before {
    background-color: #d9d9d9 !important;
    opacity: 1;
  }
}