#package {
  .item-img {
    width: 40px;
    height: 40px;
    margin-right: 16px;
  }

  .loadMoreVersion, .loadMoreFailure {
    display: block;
    text-align: center;
    margin: 20px 0;
    cursor: pointer;
  }

  .main-container {
    .title {
      margin: 30px 0;
      font-size: 30px;
    }

    .button-select-container {
      margin: 30px 0;
    }

    .package-container {
      position: relative;
    }

  }

  .addTestModal {

  }

  .package-item-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    .item-left-part {
      display: flex;
      align-items: center;
    }
    p {
      margin-bottom: 0;
    }
    .package-detail {
      display: inline-block;
    }
  }


  .margin10 {
    margin-right: 10px;
  }

  // 提测概要
  .test-summary{
    display: inline-block;
    width: 600px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

