

.home-card{
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    margin: 40px auto 0;
    width: 1200px;

    .header{
        margin-bottom: 20px;

        .search{
            float: left;
        }

        .actions{
            float: right;
            line-height: 32px;

            a{
                margin-left: 15px;
                color: rgba(0, 0, 0, .65);
                cursor: pointer;

                &:hover{
                    color: #1890ff;
                }
            }
        }
    }
}
.qrCode-mask{
    width: 170px;
    height: 170px;
    background: rgba(0,0,0,0.4);
    position: absolute;
    top:200px;
    left: 0;
    text-align: center;
    padding-top: 75px;
    span{
        display: inline-block;
        background: #ffffff;
        height: 20px;
        line-height: 20px;
        padding: 0px 8px;
    }
}
