#success-list-container {
  .loadMoreBuild {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }
  .package-info {
    display: flex;
    align-items: center;
    span{
      white-space: nowrap;
    }
  }
}

.ant-divider-horizontal.ant-divider-with-text-left .ant-divider-inner-text {
  padding-left: 0;
}

.ant-divider-horizontal.ant-divider-with-text-left {

  &:before {
    display: none;
  }
}