.failure-detail-container {
  .title {
    width: 80%;
    font-size: 25px;
    margin-left: 40px;
  }

  .build-time{
    display: inline-block;
    margin:10px 0 30px 40px;
  }

  footer{
    text-align: center;
    margin-top:30px;
  }
  .info-container{
    li{
      margin-bottom: 10px;
    }
  }
}