
.menu-side-bar {
  position: fixed;
  top: 64px;
  bottom: 0;
  left: 0;
  width: 256px;
  border-right: 1px solid #e8e8e8;
  background-color: #001529;

  .ant-menu-inline {
    border-right: none;
  }

  .dropdown-link {
    padding: 14px 20px;
    border-bottom: 1px solid #13293E;
    color: rgba(0, 0, 0, .65);
    text-align: center;

    .dropdown-select {
      &-wrapper{
        width: 100%;
        //padding: 0 14px;
      }

      width: 100%;
      .ant-select-selection {
        vertical-align: middle;
        height: 50px;
        color: #ffffff;
        border: none;
        background-color: rgba(168,208,255,0.3);
        box-shadow: none;
      }
      .ant-select-dropdown-menu-item-active{
        background-color: #cccccc;
      }
      .ant-select-selection__rendered {
        display: block;
        margin-left: 11px;
        margin-right: 11px;
        position: relative;
        line-height: 50px;
        height: 50px;
      }
      .ant-select-dropdown{
        color: #fff !important;
      }
      .ant-select-dropdown-menu-item{
        color:red
      }
      .ant-select-arrow {
        color: #fff;
      }
      .ant-select-open .ant-select-selection{
        box-shadow: none;
      }
    }
    .logo-img {
      margin: 10px 0 5px;
    }
  }
}
.ant-select-dropdown-menu-item.sideBar-option{
  background: #324c69;
  padding: 8px 8px;
}
.ant-select-dropdown-menu-item.sideBar-option.ant-select-dropdown-menu-item-selected{
  background: #1890ff;
}
.ant-select-dropdown-menu-item.sideBar-option:hover{
  background: #63b2fb;
}
.project{
  color:#fff
}
