
.menu-side-bar{
    position: fixed;
    top: 64px;
    bottom: 0;
    left: 0;
    width: 240px;
    border-right: 1px solid #e8e8e8;
    background-color: #001529;

    .ant-menu-inline{
        border-right: none;
    }

    .dropdown-link{
        padding-bottom: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        color: rgba(0, 0, 0, .65);
        text-align: center;

        .dropdown-select{
            width: 150px;

            .ant-select-selection{
                color: rgba(255, 255, 255, .65);
                border: none;
                background-color: #001529;
            }           

            .ant-select-arrow{
                color: #fff;
            }
        }

        .logo-img{
            margin: 10px 0 5px;
        }
    }
}