#configManager {
  li {
    list-style: none;
  }

  .performance-emit,.password-require{
    line-height: 40px;
  }

  .anticon, .icon-select {
    font-size: 18px;
    margin-left: 10px;
    cursor: pointer;
    vertical-align: middle;
  }

  .icon-delete {
    font-size: 22px;
    &:hover {
      color: #f5222d;
    }
  }
  // 重写tab栏目样式
  .ant-radio-button-wrapper {
    margin-bottom: -1px;
  }

  .ant-radio-button-wrapper-checked {
    border-color: #d9d9d9;
    border-bottom: 1px solid transparent;
  }
  .ant-radio-button-wrapper-checked::before {
    background-color: #d9d9d9 !important;
    opacity: 1;
  }

}

// 重写checkbox样式
.ant-checkbox-wrapper {
  display: block;
  margin: 10px 0;
}