#unFinishList {
  .loadMorePackage {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
  }

  .package-info {
    display: flex;
    align-items: center;
  }
  .package-desc {
    display: inline-block;
    width: 280px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
  }
}