.button-container{
  padding: 0px 8px 24px 32px;
  background-color: #fff;
  span{
    vertical-align: middle;
    font-size: 20px;
    font-weight: bold;
  }
  button{
    float: right;
    margin-right: 24px;
  }
  button span{
    font-size: 14px;
    font-weight: normal;
  }
  span.item-name{
    font-size: 14px;
    vertical-align: middle;
  }
  .item-value{
    font-size: 14px;
    vertical-align: middle;
    font-weight: normal;
  }
}
.button-container:after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0
}
.addgray-container{
  background-color:#fff;
  padding:48px 200px;
  .steps-content{
    padding: 40px 8px;
  }
  .ant-form-item-label label:after{
    content: "";
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
  }
  .upload-ipa{
    border: 1px dashed rgba(0,0,0,0.15);
    border-radius: 4px;
    background-color: rgba(0,0,0,0.02);
    padding: 42px 0px;
    text-align: center;
  }
}
.steps-action{
  text-align: center;
}
.version-info{
  span{
    padding-right: 24px;
    color: rgba(0,0,0,0.45);
  }
}
.version-content{
  border: 1px solid rgba(0,0,0,0.15);
  border-radius: 4px;
  min-height: 100px;
  padding:8px 16px;
  word-wrap:break-word;
  line-height: 22px;
  margin-bottom: 0px;
}
.gray-feature{
  .ant-card-extra{
    padding: 10px 0px;
  }
  .config-project-item .config-project-input{
    width: 200px;
  }
  .config-project-item{
    width: 300px;
  }
}
.newFeature .ant-modal-body{
  padding: 0px 40px;
}
.info-item{
  margin-bottom: 8px;
}
.editRules{
  margin-top: 16px;
  padding-top: 8px;
  border-top:1px solid #e8e8e8;
  .ant-form-item{
    margin-bottom: 8px;
  }
  .ant-form-item-label{
    line-height: 16px;
  }
}
.editRules-active{
  padding-top: 8px;
  .ant-form-item{
    margin-bottom: 8px;
  }
  .ant-form-item-label{
    line-height: 16px;
  }
}
.area-checkbox-container{
  border: 1px solid #e8e8e8;
  max-height: 150px;
  padding:0 24px;
  border-radius: 4px;
  overflow-y: scroll;
  margin-top: 4px;
}
