.add-requirement .ant-card-extra{
  padding: 10px 0;
}
.rowClass{
  height: 40px;
}
.ant-table-thead > tr.rowClass > th, .ant-table-tbody > tr.rowClass > td{
  padding: 8px 16px;
}
.status-container{
  margin-bottom: 12px;
  span:first-child{
    width: 80px;
    display: inline-block;
  }
  span:last-child{
    width: 60px;
    display: inline-block;
    text-align: right;
  }
  &:last-child{
    margin-bottom: 0;
  }
}
