.device-meta {
  display: flex;
  background-color: #fff;
  border-top: 1px solid #eee;
  padding: 24px;
  justify-content: center;

  .info {
    flex: 1;
    text-align: center;
  }

  .content {
    font-size: 30px;
    line-height: 32px;

    &.amount {
      color: rgba(0, 0, 0, 0.85);
    }

    &.available {
      color: rgba(56, 158, 13, 0.85);;
    }

    &.using {
      color: #1890FF;
    }
  }

  .title {
    margin-bottom: 12px;
  }

  .has-border {
    border-left: 1px solid #eeeeee;
    border-right: 1px solid #eeeeee;
  }
}

.device-block {
  margin: 24px;
  padding: 0 24px;
  background-color: #fff;

  .device-card {
    margin-top: 24px;
    border: 1px solid #eeeeee;
  }

  .device-info{
    display: flex;
    padding: 16px;
  }

  .device-brand{
    display: inline-block;
  }
  .device-detail-block{
    padding-left: 48px;
    display: inline-block;
    //make text ellipsis work
    min-width: 0;
  }

  .device-name {
    height: 24px;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    line-height: 24px;
    //ellipsis
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .device-detail {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.45);
    letter-spacing: 0;
    line-height: 22px;
    //text-overflow: ellipsis;
    //white-space: nowrap;
  }

  .status-line {
    vertical-align: center;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 22px;
    margin-bottom: 0;
    padding: 16px 0 16px 16px;
  }

  .device-status {
    border-top: 1px solid #eeeeee;
    &.available {
      background: #f6ffec;
    }

    &.unavailable {
      background: #fff1f0;
    }
    &.occupation {
      background: #e6f7ff;
    }
  }

  .status {
    display: inline-block;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    vertical-align: 1px;
    margin-right: 6px;

    &.available {
      background: #56AC31;
    }

    &.unavailable {
      background: #F5222D;
    }
    &.occupation {
      background: #1890FF;
    }
  }
}

.stf-pager-wrapper{
  margin-top: 52px;
  padding-bottom: 40px;
  text-align: right;
}

.modal-content-wrap{
  padding: 3px 0 14px ;
  .modal-p {
    margin-left: 40px;
    font-size: 14px;
    color: rgba(0,0,0,0.65);
    margin-bottom: 18px;
  }
  .modal-type{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    width: 6em;
  }
  .modal-span{
    margin-left: 20px;
  }
}
