#branch-build {
  margin-top: 15px;
  .package-container {
    position: relative;
    .package-item-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
    }
    .load-more-build {
      position: absolute;
      right: 15px;
      top: 15px;
      cursor: pointer;
    }

  }

}