
.piplineDetail-report{
  .piplineDetail-basic-info{
    p{
      margin-bottom: 8px;
    }
  }
}

.info-label{
  display: inline-block;
  width: 150px;
  text-align: right;
}

.scan-paragraph{
  display: block;
  height: 22px;
}
